@charset "utf-8";
/* 
	CSS Document
	for Optime Financial <optimefinancial.com.au>
	by Aakash Bhatia
	Email: akash.bhatia1184@gmail.com
*/
/* ------------------------------------------------- */
/*  0. Global Styles
/*	1. Home Page Styles
/* ------------------------------------------------- */

/* ------------------------------------------------- */
/* 0. Global Styles Start
/* ------------------------------------------------- */
/* Resets */
* {
	margin:0px;
	padding:0px;
}

a {
	text-decoration:none;
	color:inherit;
	transition: all 0.2s linear 0s;
}

img {
	max-width:100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
   display:block;
}

/* Elements */
body {
	font-family: 'Lato', sans-serif;
	font-size:16px;
	line-height:1.5;
	color:#1f232b;
}

h1 {
	font-size:48px;
	line-height:2;
}

h2 {
	font-size:24px;
	line-height:2;
}
/* Header Styles */
header {
	background:rgba(255, 255, 255, 0.5);
	position:fixed;
	width:100%;
	overflow:visible;
	z-index:99;
}
nav {
	float:right;
	width:70%;
}
#main-menu {
	list-style-type:none;
	width:100%;
	overflow:visible;
}
	#main-menu li {
		float:left;
		width:10%;
		padding-left:2%;
		padding-right:2%;
		line-height:50px;
		font-weight:bold;
		font-family: 'Ubuntu', sans-serif;
		text-align:center;
		position:relative;
	}
		#main-menu li a {
			display:block;
		}
			#main-menu li:hover a, #main-menu li.current-menu-item a {
				color:#F00;
			}
		#main-menu li ul {
			position:absolute;
			width:250px;
			z-index:999;
			top:50px;
			left:30px;
			background-color:#fff;
			visibility:hidden;
		}
			#main-menu li ul li {
				float:none;
				display:block;
				width:92%;
				text-align:left;
				border-bottom:1px solid #000;
				padding-left:4%;
				padding-right:4%;
			}
				#main-menu li ul li:last-child {
					border:none;
				}
					#main-menu li:hover ul li a {
						color:#000;
					}
				#main-menu li ul li a {
					display:block;
				}
					#main-menu li ul li a:hover {
						color:#F00;
					}
/* Footer Styles */
footer {
	background-color:#1f232b;
	font-size:14px;
	color:#FFF;
	padding-top:20px;
	padding-bottom:20px;
}
/* IDs */
#logo {
	background-image:url(../images/logo.png);
	background-repeat:no-repeat;
	background-size:contain;
	width:300px;
	height:50px;
	display:block;
	text-indent:-1000px;
	overflow:hidden;
	float:left;
}

#made-right {
	float:right;
}

#made-center {
	margin:0 auto;
	float:none;
}

#made-left {
	float:left;
}

#side-nav {
	list-style-type:none;
}
	#side-nav li {
		font-family:"Ubuntu",sans-serif;
		font-weight:bold;
		margin-bottom:10px;
	}
		#side-nav li a {
			display:block;
			height:30px;
			line-height:30px;
			border:1px solid #f00;
			padding-left:20px;
			color:#f00;
			border-radius:3px;
		}
			#side-nav li a:hover, #side-nav li.active a {
				background-color:#000;
				color:#fff;
				border-color:#000;
			}
/* Classes */
.clear {
	clear:both;
}
p {
	margin:10px 0px;
}
p.sub-title {
	font-size:24px;
	line-height:1.5;
}
p.title {
	font-size:48px;
	line-height:1.5;
}
.wrap {
	width:1200px;
	margin:0 auto;
}
.three-columns {
	width:100%;
	overflow:hidden;
}
	.three-columns .column {
		width:30%;
		padding-left:1.5%;
		padding-right:1.5%;
		float:left;
		padding-bottom:20px;
	}
.four-columns {
	width:100%;
	overflow:hidden;
}
	.four-columns .column {
		width:22%;
		padding-left:1.5%;
		padding-right:1.5%;
		float:left;
	}
.link-style-1 {
	width:220px;
	height:50px;
	line-height:50px;
	background-color:#dd3333;
	display:block;
	text-transform:uppercase;
	margin-left:10px;
	margin-right:10px;
	font-weight:700;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius:5px;
	color:#fff;
	cursor:pointer;
	text-align:center;
}
	.link-style-1:hover {
		background-color:#000;
	}
.link-style-2 {
	width:220px;
	height:50px;
	line-height:50px;
	background-color:#000;
	display:block;
	text-transform:uppercase;
	margin-left:10px;
	margin-right:10px;
	font-weight:700;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	color:#fff;
	cursor:pointer;
}
	.link-style-2:before {
		content:"\2713";
		padding-right:10px;
		padding-left:10px;
		color:#0C0;
	}
	.link-style-2:hover {
		background-color:#dd3333;
	}
.link-style-3 {
	border:1px solid #1f232b;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	width:150px;
	height:30px;
	display:block;
	line-height:30px;
	text-transform:uppercase;
	text-align:center;
	font-weight:bold;
}
	.link-style-3:hover {
		background-color:#1f232b;
		color:#fff;
	}
.banner {
	position:relative;
	text-align:center;
	color:#FFF;
	height:400px;
	background-repeat:no-repeat;
	background-position:center center;
	width:100%;
	padding-top:200px;
}
	.banner h1, .banner h2 {
		line-height:1.5;
	}
	.banner .banner-image {
		position:absolute;
		top:0px;
		left:0px;
	}
	.banner .link-set {
		width:480px;
		overflow:hidden;
		margin:20px auto;
	}
/* ------------------------------------------------- */
/* 1. Home Page Styles Start
/* ------------------------------------------------- */
.first {
	text-align:center;
	width:100%;
	overflow:hidden;
	padding-bottom:20px;
}
	.first article {
		float:left;
		width:23%;
		margin-left:1%;
		margin-right:1%;
		padding-bottom:20px;
	}
	
.second {
	background-color:#f9fafb;
	border-top:1px solid #ecf0f1;
	border-bottom:1px solid #ecf0f1;
	width:100%;
	overflow:hidden;
	padding-bottom:20px;
}

/* ------------------------------------------------- */
/* 1. Blog Listing Page Styles Start
/* ------------------------------------------------- */
.blogs h2 {
	font-family: 'Titillium Web', sans-serif;
	font-size:24px;
}

/* ------------------------------------------------- */
/* 2. Calculator Pages Styles Start
/* ------------------------------------------------- */
#two-column {
	width:100%;
	overflow:hidden;
}
	#two-column .left {
		width:70%;
		float:left;
		padding-top:20px;
		padding-bottom:20px;
	}
	#two-column .right {
		width:30%;
		float:left;
		padding-top:20px;
		padding-bottom:20px;
	}